doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        link(href="../../assets/sass/trade/kline.scss" rel="stylesheet" type="text/css")
    body
        p kline.pug
        include ./tradingview.html
        script(src="../../src/trade/kline.js")
