.footer___20spL { background: #418ff9; }
.download___3Dy0g .socialItem___H5mIG { background: #418ff9; color: #eee; border: 2px solid #eee; }
.head-top-marquee { background:#418ff9; color: #c8daf5; border-bottom: 1px solid#418ff9;; }
.head-topinfo { background: #f1f6f9; color: #b4b5bf; }
.new-index-bottom-notice{ background: #f1f6f9!important; }
.head-top-marquee .RunTopic ul li .RunTopic-a{ color: #c8daf5; }